@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
ul,ol,li { list-style: none; }
a { text-decoration: none; }

body { width: 100%; height: 100vh; background: #fcd2e2;
  h1 { width: 1000px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, 200%);
    font:90px/1 'Poiret one'; color: white; text-align: center; }
  section { width: 1000px; height: 400px;position: absolute; left: 50%; top: 50%; transform: translate(-50%,-60%);
    .town .circle { position: absolute; left: 50%; bottom: 100px; margin-left: -240px; }
    .town .night { position: absolute; left: 40px; bottom: 0; }
    .town .day { position: absolute; left: 40px; bottom: 0; }

    .people .man { position: absolute; left: 0; bottom: 0;}
    .people .family { position: absolute; left: 0; bottom: 0;}

    .sky .cloud1 { position: absolute; top: -30px; left: 10%;}
    .sky .cloud2 { position: absolute; top: 20px; left: 0;}
    .sky .sun { position: absolute; top: -150px; left: 50%; margin-left: -100px; }

 }
}