@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
ul,ol,li { list-style: none; }
a { text-decoration: none; }

// 배경
$sky01:#b08fcc;
$sky02:#b1e1e2;
$sky03:#fcd2e2;
$sky04:#636888;
$sky05:#b08fcc;

body { width: 100%; height: 100vh; animation: sky 20s linear infinite;
  h1 { width: 1000px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, 200%);
    font:90px/1 'Poiret one'; color: white; text-align: center; }
  section { width: 1000px; height: 400px;position: absolute; left: 50%; top: 50%; transform: translate(-50%,-60%);
    //공통
article img { position: absolute;}
    .town .circle { left: 50%; bottom: 100px; margin-left: -240px; animation: rotation 20s linear infinite; }
    .town .night { left: 40px; bottom: 0; }
    .town .day { left: 40px; bottom: 0; animation: day 20s linear infinite; }

    .people .man { left: 0; bottom: 0; animation: flow 7s linear infinite; }
    .people .family { left: 0; bottom: 0; animation: flow 20s linear infinite; }

    .sky { animation: day 20s linear infinite; }
    .sky .cloud1 {  top: -30px; left: 10%; animation: flow 10s linear infinite; }
    .sky .cloud2 { top: 20px; left: 0; animation: flow 15s linear infinite; }
    .sky .sun { top: -150px; left: 50%; margin-left: -100px; transform-origin: center 500px;
      animation: sun 20s linear infinite; }
 }
}

@keyframes rotation {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
@keyframes flow {
  0% { left: 0; opacity: 0; }
  10% { opacity: 1; }
  80% { opacity: 1; }
  100% { left: 90%; opacity: 0; }
}
@keyframes  sun {
 0% { transform: rotate(-90deg); }
 25% { transform: rotate(-30deg); }
 50% { transform: rotate(30deg); }
 75% { transform: rotate(90deg); }
 100% { transform: rotate(-90deg); }
}
@keyframes day {
  0% { opacity: 0;}
  25% { opacity: 1;}
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes sky {
   0% { background-color: $sky01; }
  25% {  background-color: $sky02;}
  50% { background-color: $sky03; }
  75% { background-color: $sky04; }
  100% { background-color: $sky05; }
}